.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 50%;
}

.App-header {
  background-color: #222;
  height: 95.5vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
}

.App-intro {
  font-size: large;
}

.ButtonSolo , a {
  height: 6vh;
  width: 4vw;
  text-decoration: none;
  color: rgb(235, 52, 38);
  font-family: 'Oswald', sans-serif;
}

.ButtonMulti:not(a) {
  height: 6vh;
  width: 6vw;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: rgb(235, 52, 38);
}

.ButtonMulti:not(a):hover {
  background: rgb(235, 52, 38);
}

.ButtonSolo:not(a):hover {
  background: rgb(235, 52, 38);
}

button:hover a {
  color: black;
}


.TheButttons {
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
