@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 50%;
}

.App-header {
  background-color: #222;
  height: 100vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
  font-family: 'Oswald', sans-serif;
}

.App-intro {
  font-size: large;
}

.ButtonSolo:not(a) {
  background: radial-gradient( ellipse at top left, red, green);
  margin: 0 3em;
  margin-top: 5vh;
  text-shadow: 2px 2px 2px black;
  box-shadow: 1px 1px 5px 2px black;
  height: 6vh;
  width: 4vw;
}

.ButtonMulti:not(a) {
  background: radial-gradient( ellipse at top left, red, green);
  margin: 0 3em;
  margin-top: 5vh;
  text-shadow: 2px 2px 2px black;
  box-shadow: 1px 1px 5px 2px black;
  height: 6vh;
  width: 6vw;
}

.ButtonMulti:not(a):hover {
  background: rgb(235, 52, 38);
}

.ButtonSolo:not(a):hover {
  background: rgb(235, 52, 38);
}

.ButtonSolo , a {
  font-size: 1em;
  color: rgb(235, 52, 38);
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.ButtonMulti , a {
  font-size: 1em;
  color: rgb(235, 52, 38);
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.TheButtons button:hover a {
  color: black;
}

.TheButtons {
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

 .fa.fa-volume-up,
 .fa.fa-volume-off {
  position: absolute;
  right: 1em;
  font-size: 3em;
  top: 1em;
  z-index: 9999;
  color: white;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
