
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.game {
    display: flex;
    margin: 1em;
}

.game > .players {
    flex: 1;
    margin-left: 1em;
}

.board {
    background: #044389;
    border-radius: 5px;
    border: 1px solid black;
    display: inline-block;
    padding: 1em;
}

.board .column ~ .column {
    margin-left: 10px;
}

.column {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

.column span ~ span {
    margin-top: 10px;
}

.column span {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background: white;
    position: relative;
    z-index: 1;
}

.column:hover {
    cursor: pointer;
}

.column:hover:before {
    content: '';
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    position: absolute;
    background: #FFAD05;
    border-radius: 5px;
}

.column:hover:after {
    content: '\2193';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
    font-size: 3.5em;
    color: black;
}

@keyframes popIn {
    0% {
        transform: scale(0.0, 0.0);
        opacity: 0;
    }

    80% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }
}

.column span:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    animation: popIn .1s ease-out;
}

.red:after {
    content: '';
    background: red;
}

.yellow:after {
    content: '';
    background: yellow;
}

.players {
    display: flex;
    flex-direction: column;
}

.players li {
    padding: 1em;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.players li h2 {
    display: inline-block;
    font-weight: 300;
}

.players li span {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid black;
    margin-right: .5em;
}

@keyframes timerPlaceholder {
    from { width: 0; background: blue; }
    to { width: 100%; background: red;  }
}

.players li .timer {
    margin-left: auto;
    width: 80%;
    height: 15px;
    background: #aaa;
}

.players li .timer:before {
    content: '';
    width: var(--time);
    display: block;
    height: 100%;
}

.players li:hover .timer:before {
    animation: timerPlaceholder 4s infinite linear;

}

.players li ~ li {
    margin-top: -1px;
}

.players li:hover {
    transform: scale(1.05, 1.05);
    transition: transform .3s ease-out;
    box-shadow: 0 0 4px 4px orange;
}
