
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: #222;
    font-size: 14px;
}

@media all and (min-width: 1024px) {
    body {
        font-size: 2vw;
    }
}

@keyframes spin {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}

.App-header {
  background-color: #222;
  color: white;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: spin infinite 15s linear;
  max-height: 45vh;
  margin: 1em auto;
 }

.App-title {
  font-size: 3.5em;
  line-height: 1.2;
  text-align: center;
  margin: .5em 0;
}

.TheButtons {
  display: flex;
  padding: 0 20%;
}

.TheButtons a {
  background: radial-gradient( ellipse at top left, red, green);
  text-shadow: 2px 2px 2px black;
  box-shadow: 1px 1px 5px 2px black;
  padding: .5em 2em;
  margin: 0 .5em;
  text-decoration: none;
  flex: 1;
  color: rgb(235, 52, 38);
  min-width: 200px;
  text-align: center;
  font-size: 1.4em;
}

.TheButtons a:hover {
  background: rgb(235, 52, 38);
  color: black;
}

@media all and (max-width: 640px) {
  .TheButtons {
    padding: 0 10%;
    flex-direction: column;
  }

  .TheButtons a {
    margin: .5em 0;
  }
}

.fa.fa-volume-up,
.fa.fa-volume-off {
  position: fixed;
  right: 0;
  font-size: 3em;
  width: 1em;
  top: 0;
  z-index: 9999;
  margin: 1em;
  color: white;
  cursor: pointer;
}

.board-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.board-wrapper img {
    height: 400px;
    width: auto;
    animation: App-logo-spin infinite 15s linear;
    display: none; /* TODO */
}

.title {
    text-align: center;
    color: white;
    margin: .5em 0;
}

.board {
    background: #044389;
    border-radius: 5px;
    border: 1px solid black;
    display: inline-block;
    padding: 1em;
}

.board .column ~ .column {
    margin-left: 10px;
}

.column {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

.column span ~ span {
    margin-top: 10px;
}

.column span {
    display: inline-block;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 1px solid black;
    background: white;
    position: relative;
    z-index: 1;
}

@media all and (min-width: 769px) {
    .column span {
        width: 4vw;
        height: 4vw;
    }
}


@media all and (max-width: 768px) {
    .column span {
        width: 7.5vw;
        height: 7.5vw;
    }
}

.column:hover {
    cursor: pointer;
}

.column:hover:before {
    content: '';
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    position: absolute;
    background: #FFAD05;
    border-radius: 5px;
}

.column:hover:after {
    content: '\2193';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
    font-size: 3.5em;
    color: white;
}

@keyframes popIn {
    0% {
        transform: scale(0.0, 0.0);
        opacity: 0;
    }

    80% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }
}

.column span:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    animation: popIn .1s ease-out;
}

.red:after {
    content: '';
    background: red;
}

.yellow:after {
    content: '';
    background: yellow;
}

.blue:after {
    content: '';
    background: blue;
}

.players {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 2em;
}

.players li {
    padding: 1em;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.players li h2 {
    display: flex;
    align-items: center;
}

.players li h2:after {
    content: attr(data-title);
    display: flex;
    align-items: center;
    font-weight: 300;
    width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.players li span {
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    border: 2px solid black;
    margin-right: .5em;
}

@keyframes timerPlaceholder {
    from { width: 0; background: blue; }
    to { width: 100%; background: red;  }
}

.fa.fa-volume-up,
.fa.fa-volume-off {
    position: absolute;
    right: 1em;
    font-size: 3em;
    top: 1em;
}

.players li .timer {
    margin-left: auto;
    width: 80%;
    height: 15px;
    background: #aaa;
    background: transparent;
}

.players li .timer:before {
    content: '';
    width: var(--time);
    display: block;
    height: 100%;
}

.players li.active .timer:before {
    animation: timerPlaceholder 10s linear;
    animation-fill-mode: forwards;
}

.players li ~ li {
    margin-top: -1px;
}

.players li.active {
    transform: scale(1.025, 1.025);
    transition: transform .3s ease-out;
    box-shadow: 0 0 6px 4px orange;
}

@media all and (max-width: 768px) {
    .players li .timer {

    }
}

.gameover {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: orange;
    border: 2px solid black;
    z-index: 9999;
    padding: 2em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gameover h2 {
    color: white;
    font-size: 2em;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin-bottom: .5em;
}

.gameover button {
    margin: 0 auto;
}

.gameover button, .btn, .btn-group button {
    background: #336699;
    padding: .5em 2em;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
    border: none;
    border-bottom: 5px solid #114477;
}

.gameover button:active, .btn:active, .btn-group button:active {
    border-top: 3px solid transparent;
    border-bottom-width: 2px;
}

.reconnecting {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
}

.reconnecting h1 {
    margin: auto;
}

.panel-fs-wrapper {
    height: 100vh;
    display: flex;
}

.choose-username {
    display: flex;
    flex-direction: column;
}

.choose-username .btn-group {
    background: rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 1em -1em -1em -1em;
}

.choose-username h1 {
    background: rgba(0, 0, 0, 0.2);
    padding: .25em;
}

@media all and (max-width: 768px) {
    .panel {
        position: fixed;
        left: 1em;
        right: 1em;
        top: 1em;
        bottom: 1em;
    }

    .panel-footer {
        margin-top: auto;
    }
}

.panel {
    padding: 1em;
    background: orange;
    border: 2px solid black;
    border-radius: 4px;
    margin: auto;
}

.panel h1 {
    color: white;
}

.panel input[type=text] {
    outline: none;
    border: 2px solid black;
    padding: .5em;
    font-size: 1.5em;
}

.btn-group {
    display: flex;
    justify-content: flex-start;
}

.btn-group button:first-child {
    margin-left: auto;
}

.btn-group button ~ button {
    margin-left: .25em;
}

.error {
    color: #bb2222;
    display: inline-block;
    transition: opacity 1s linear;
}

.error:not(.visible) {
    opacity: 0;
}

.searching {
    display: flex;
    align-items: center;
    color: white;
}

.searching h1 {
    margin-left: .5em;
}

/* https://loading.io/css/ modified for the project */
.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: '';
  display: block;
  width: 4em;
  height: 4em;
  margin: 1px;
  border-radius: 50%;
  border: .5em solid #fff;
  border-color: currentColor transparent currentColor transparent;
  animation: spin 1.2s linear infinite;
}
